* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #E0D9E4;
    --text-color: #242424;
    --bg-color: #E0D9E4;
}

@media screen and (max-width: 900px) {
    .topbar {
        display: none;
    }
}

.topbar {
    width: 100%;
    height: 75px;
    background-color: #242424;
}

.topbarg {
    width: 100%;
    height: 75px;
    background-color: #242424;
}