body {
    background-repeat: repeat;
    background-color: #afafaf;
}

#content {
    background-color: white;
    padding: 60px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    opacity: .9;
}

.anim-down-up-down {
    animation: down-up-down 400ms ease-out;
}

@keyframes down-up-down {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    75% {
        opacity: .9;
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

#login-title {
    text-align: center;
    margin-bottom: 40px;
    color: #302c30;
}

.input-area[type=text], .input-area[type=password] {
    transition: 100ms ease-out;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    padding-left: 4px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    border: 1px solid #afa4af;
}

.input-area:focus[type=text], .input-area:focus[type=password] {
    transition: 100ms ease-out;
    border: 1px solid #66bbbb;
}

.password-icon {
    float: right;
    user-select: none;
    cursor: pointer;
    position: relative;
    max-height: 32px;
    top: -35px;
    left: -12px;
}
.password-icon-anim {
    animation: resize-small-normal 333ms ease-in-out;
}

@keyframes resize-small-normal {
    0% {
        opacity: 0;
    }
    50% {
        transform: scale(50%, 50%);
    }
    100% {
        opacity: 1;
        transform: scale(100%, 100%);
    }
}

label {
    padding: 10px 10px 10px 0px;
    display: inline-block;
    color: #302c30;
    user-select: none;
}

#remember-me {
    margin: 10px 0px;
    float: right;
}

#remember-me label {
    font-size: 14px;
    color: #575257;
}

#remember-me input[type=checkbox] {
    accent-color: #f3d8ff;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#authorization-login button, #authorization-register button{
    border-radius: 12px;
    margin-top: 10px;
    text-align: center;
    border: none;
    font-size: 18px;
    height: 40px;
    transition: 100ms ease-out;
    color: #302c30;
} 
#authorization-login button:hover, #authorization-register button:hover {
    transition: 200ms ease-out;
    color: #ffffff;
}

#authorization-login #register, #authorization-register #login {
    transition: 200ms ease-out;
    background-color: #d1f3f515;
    float: left;
} #authorization-login #register:hover, #authorization-register #login:hover {
    transition: 200ms ease-in;
    color: #504d4d;
    background-color: #9fe6e644;
}

#authorization-login #login, #authorization-register #register{
    transition: 200ms ease-in-out;
    background-color: #e4ccf5;
    float: right;
} #authorization-login #login:hover, #authorization-register #register:hover {
    transition: 200ms ease-in;
    background-color: #c79ee2;
}

#authenticate-login {
    display: block;
}

#authenticate-register {
    display: none;
}

@media screen and (max-width: 68rem) {
    #content {
        transition: 200ms ease-out;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .input-area[type=submit] {
        transition: 200ms ease-in-out;
        width: 100%;
    }
    #content {
        width: 800px
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2b2b;
    }
    #content {
        background-color: #1a171a;
    }

    #login-title, label {
        color: white;
    }
    
    #remember-me label {
        color: #bbb7bb;
    }

    .input-area[type=text], .input-area[type=password] {
        background-color: #1a171a;
        color: white;
        border-color: #302c30;
    }
    .input-area:focus[type=text], .input-area:focus[type=password] {
        border-color: #492e49;
    }

    #authorization-login button, #authorization-register button {
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(0, 0, 0, 0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    #authorization-login button:hover, #authorization-register button:hover {
        color: rgb(255, 255, 255);
    }

    #authorization-login #register, #authorization-register #login {
        color: rgb(155, 155, 155);
        background-color: #57525760;
    }
    #authorization-login #register:hover, #authorization-register #login:hover {
        color: rgb(255, 255, 255);
        background-color: #bbbbbb4d;
    }

    #authorization-login #login, #authorization-register #register {
        background-color: #8f608f;
    }
    #authorization-login #login:hover, #authorization-register #register:hover {
        background-color: #b673b8;
    }
}
