@import 'https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap';
:root {
    --MainDark: #1b191b;
    --MainLight: #232123;
    --TextColor: #d9dae4;
    --BorderColor: #7d7d86;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--TextColor);
}

body {
    background: var(--MainLight);
}

header {
    background: #1b191b;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 68rem) {
    header {
        transition: 200ms ease-out;
        height: 45px;
    }
    .logo > * {
        display: none;
    }
    .logo::after {
        content: "Feedrum";
        color: #fff;
        font-weight: 900;
        font-size: 1.5rem;
        margin-left: 1rem;
    } 
    .logo::after:hover {
        margin-left: 2rem;
    }
}



nav {
    display: flex;
}

nav > * {
    opacity: 0.7;
    transition: 0.3s;
}

nav > *:hover {
    opacity: 1;
}

nav > *:last-child {
    margin: 0 4rem 0 2rem;
}

@media (max-width: 68rem) {
    nav > *:last-child {
        margin: 0 2rem 0 2rem;
    }
}
@media (max-width: 25rem) {
    nav > * {
        display: none;
    }
    nav > *:last-child {
        margin: 0 1rem 0 1rem;
    }
}




.main {
    color: var(--TextColor);
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 0.8rem;
}

.main > *:last-child {
    margin-left: 0.8rem;
}

@media (max-width: 68rem) {
    main {
        flex-wrap: wrap;
    }
}
@media (max-width: 32.5rem) {
    .main > *:last-child {
        margin-left: 0;
    }
}




/*# ARTICLE */
article {
    width: 51.6rem;
    background: var(--MainDark);
    padding: 0.8rem;
    line-height: 26px;
    margin-bottom: 0.8rem;
}

.article-timestamp {
    float: right;
    color: #616168;
    border-left: 1px solid var(--BorderColor);
    padding: 0 1.5rem 0 1.5rem;
    opacity: 0.4;
    font-size: 0.8rem;
}

.article-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
}

.article-content {
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.66rem;
    padding: 2rem;
}

/*# ARTICLE RESPONSIVE-DESIGN */
@media screen and (max-width: 500px) {
    .col-25, .col-75, .col-left, .col-right {
        transition: 200ms ease-in-out;
        width: 100%;
    }
}

@media (max-width: 68rem) {
    .article-content {
        font-size: 1.2rem;
        font-weight: 200;
    }
}
@media (max-width: 32.5rem) {
    .article-timestamp {
        border: none;
    }
}



/*# SIDEBAR */
.sidebar {
    width: 16.5rem;
    background: var(--MainDark);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 0.7rem;
    margin-bottom: 0.8rem;
}

.sidebar-title {
    color: white;
    font-weight: 600;
    text-align: center;
    padding-bottom: .5rem;
    border-bottom: 0.15rem dashed #323233;
    font-size: 1.5rem;
}

.sidebar-element {
    border-bottom: 0.1rem solid var(--BorderColor);
    font-size: 1.1rem;
    display: block;
    padding: 1rem;
    transition: 0.5s;
}

.sidebar-element:hover {
    color: white;
    letter-spacing: 0.01rem;
    background: rgb(50, 56, 56);
}

/*# SIDEBAR RESPONSIVE-DESIGN */
@media (max-width: 68rem) {
    .sidebar {
        width: 75%;
        text-align: center;
    }
}
  @media (max-width: 32.5rem) {
    .sidebar {
        width: 100%;
    }
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            

footer {
    background: var(--MainDark);
    color: var(--TextColor);
    width: 100%;
    text-align: center;
    padding: 15px;
    opacity: 0.5;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-25 {width: 25%;
         float: left;}
.col-left {width: 45%;
         float: left;}
.col-right {width: 45%;
         float: right;}
.col-75 {width: 75%;
         float: right;}

.row {
    display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 5px;
}